body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.header :hover {
  background-color: rgb(129, 203, 228);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.logo {
  width: 100px;
  height: 100px;
}

.header-links a {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
}

.header-links a:hover {
  text-decoration: none;
  color: black;
  padding: 8px 10px;
}

.header-links button {
  background-color: #ee626b;
  color: white;
  border: none;
  padding: 5px 15px;
}

.header-links button:hover {
  background-color: #ff8a8f;
}
.header-links {
  display: flex;
  gap: 10px;
}

.landing-page{
    background-color: aquamarine;
    padding: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
}

.landing-search{
    background-color: bisque;
    padding: 10px;
    border-radius: 50px;
    align-items: center;

}

.landing-search button{
  background-color: rgb(181, 109, 22);
  padding: 10px;
  border-radius: 50px;
  position: absolute ;
  align-items: center;


}


.TrendingHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: lightblue;
}


.landing-page-image-container{
  flex: 1;
  background-color: lightgray;
  border-radius: 10px;
  margin: 10px;
}

.image-style {
  border: 2px solid black;
  width: 30px;
  height: 30px;
  object-fit: cover;

}

.TrendingHeader{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: lightblue;
}